<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><?= $admin_details['fullname']?></a>
    </div>
    <!-- Menu -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Outpass
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="admin_home.php">Issue Pass</a></li>
              <li><a href="admin_op_return.php">Return List</a></li>
            </ul>
          </li>
          <li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sick Leave
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="admin_leave.php">View Leaves</a></li>
              <li><a href="admin_leave_history.php">Leave History</a></li>
            </ul>
          </li>
          <li><a href="common_admin_foodcount.php">Food Count</a></li>

          <li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" href="#">Student Data
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="admin_student_insert.php"> Insert New Inmates</a></li>
              <li><a href="admin_student_search.php">Student Search</a></li>
              <li><a href="admin_student_search_batch.php">Batch wise Records</a></li>
              <li><a href="admin_details_edit.php"> Purge Records</a></li>
            </ul>
          </li>
        </ul>
        <!-- Right Side Menu-->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="common_logout.php">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>